<div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">ChatApp</h1>
                <div id="messagesPool"></div>
                <form id="messageForm" class="text-center">
                    <input id="usernameInput" type="email" placeholder="Usuario">
                    <input id="messageInput" type="text" placeholder="Mensaje">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                </form>
            </div>

        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./client.socket.js"></script>