 <div class="row mb-5">
            <h1 class="text-center">Carga de productos</h1>
            <form class="text-center" action="/" method="post">
                <input type="text" placeholder="Nombre" name="name" class="m-2" id="nom" required><br>
                <input type="number" placeholder="Precio" name="price" class="m-2" id="pre" required><br>
                <input type="text" placeholder="Imagen" name="thumbnail" class="m-2" id="img" required><br>
                <input type="submit" value="Cargar producto" class="m-2 btn btn-success">
            </form>
 </div>