<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>Hasta luego {{username}}</h1>
    </div>
</div>

<script>
    function login() {
        location.href = '/login'
    }
    setTimeout(login, 2000)
</script>