<div class="container-fluid">
    <div class="row">
        <h1>Carga de productos por HBS</h1>
        <form action="/productoshbs" method="post">
            <input type="text" placeholder="Nombre" name="name" class="m-2"><br>
            <input type="number" placeholder="Precio" name="price" class="m-2"><br>
            <input type="text" placeholder="Imagen" name="thumbnail" class="m-2"><br>
            <input type="submit" value="Cargar producto" class="m-2">
        </form>
    </div>
    <button class="btn btn-success m-3" id="viewProd">Ver productos</button>
</div>
<script>
    const formButton = document.getElementById('viewProd')

    formButton.addEventListener('click', (e) => {
        window.location = "/productoshbs"
    })
</script>